body {
    background-color: lightsalmon;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li:before {
    content: "*";
    display: inline-block;
    width: 5px;
    height: 100%;
}

ul li {
    padding: 5px 15px;
}